
<footer>
  <p class="separator"></p>
  <br>
  <center>
    <h4>About us</h4>
    <h4>Services
    <h4>Get In Touch</h4>
    <h4>Careers</h4>
    <h4>Work</h4>
  </center>
  <hr>
  <center>
    <h5>Email: support@depokolod.com </h5>
      <img src="/images/icons/facebook.png">
      <img src="/images/icons/twitter.png">
      <img src="/images/icons/youtube.png">
      <img src="/images/icons/instagram.png">
      <img src="/images/icons/pinterest.png">
    <h5>Phone: +52 (041) 000 0000 001 </h5>
  </center>
  <hr>
  <center>
    <h5>© Copyright 2017 My personal online store demo - All Rights Reserved</h5>
  </center>
  <br>
</footer>
