<script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <br>
      <h4>YOUR TOTAL: <b class="text-success pricetitle">${{total}} MXN</b></h4>
      <p>Please complete the fields to continue the transaction</p>
      <br>
      <div class="alert alert-danger" {{# if noError}} style="display: none;" {{/ if}} role="alert">
        {{errMsg}}
      </div>
      <form class="needs-validation" action="/checkout" method="post" id="payment-form" novalidate>
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Customer information
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="form-row justify-content-center ">
                <div class="col-md-5">
                  <label for="validationCustom01">First name</label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="" required name="fname">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-6">
                  <label for="validationCustom02">Last name</label>
                  <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="" required name="lname">
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-md-11">
                  <label for="address01">Address</label>
                  <input type="text" class="form-control" id="address01" placeholder="1234 Main St" value="" required name="laddress">
                  <div class="invalid-feedback">
                    Please provide a valid address
                  </div>
                </div>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-md-11">
                  <label for="email01">E-mail</label>
                  <input type="email" class="form-control" id="email01" placeholder="user@provider.com" value="" required name="lemail">
                  <div class="invalid-feedback">
                    Please provide a valid E-mail
                  </div>
                </div>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-md-11">
                  <label for="phone">Phone number</label>
                  <input type="number" class="form-control" id="number01" placeholder="55545653225" value="" required>
                  <div class="invalid-feedback">
                    Please provide a valid number
                  </div>
                </div>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-md-5">
                  <label for="validationCustom03">City</label>
                  <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-md-3 ">
                  <label for="validationCustom04">State</label>
                  <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
                <div class="col-md-3 ">
                  <label for="validationCustom05">Zip</label>
                  <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                </div>
              </div>
              <br>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Shipping
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse shipping-m" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="col-5 my-1 float-left">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected id="fedex">FEDEX</option>
                  <option value="1" id="dhl">DHL</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <br>
              </div>
              <div class="col-7 float-right">
                <br>
                <p for="fedex">FREE SHIPPING $0 MXN</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Payment details
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <style>
                .StripeElement {
                  background-color: white;
                  height: 40px;
                  padding: 10px 12px;
                  border-radius: 4px;
                  border: 1px solid transparent;
                  box-shadow: 0 1px 3px 0 #e6ebf1;
                  -webkit-transition: box-shadow 150ms ease;
                  transition: box-shadow 150ms ease;
                }

                .StripeElement--focus {
                  box-shadow: 0 1px 3px 0 #cfd7df;
                }

                .StripeElement--invalid {
                  border-color: #fa755a;
                }

                .StripeElement--webkit-autofill {
                  background-color: #fefde5 !important;
                }

                .mbottom{
                  margin-bottom: 15px;
                }

                .invalid-f{
                  width: 100%;
                  margin-top: .25rem;
                  font-size: 80%;
                  color: #dc3545;
                }
              </style>
              <div class="form-row justify-content-center">
                <div class="col-md-11 mbottom">
                <label for="card-element">
                  Credit or debit card
                </label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display Element errors. -->
                <div id="card-errors" class="invalid-f" role="alert"></div>
                </div>
                <br>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="true" id="invalidCheck" name="invalidCheck" required checked>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button class="btn btn-primary" type="submit">CHECKOUT</button>
      </form>
    </div>
    <div class="col-md-5">
      <br><br>
      <div id="paypal-button-container"></div>
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script>
        // Render the PayPal button
        paypal.Button.render({
        // Set your environment
        env: 'sandbox', // sandbox | production

        // Specify the style of the button
        style: {
          layout: 'vertical',  // horizontal | vertical
          size:   'large',    // medium | large | responsive
          shape:  'pill',      // pill | rect
          color:  'gold'       // gold | blue | silver | white | black
        },

        // Specify allowed and disallowed funding sources
        //
        // Options:
        // - paypal.FUNDING.CARD
        // - paypal.FUNDING.CREDIT
        // - paypal.FUNDING.ELV
        funding: {
          allowed: [
            paypal.FUNDING.CARD,
            paypal.FUNDING.CREDIT
          ],
          disallowed: []
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create
        client: {
          sandbox: 'AVxUnHTpgGyrgSdWLbO3L44kDGJOHnDE4Eg-jdBu_oXd8lWYoRFMLWL6Iy3-DBTwQXf8r-EEU73q-Uss',
          production: '<insert production client id>'
        },

        payment: function (data, actions) {
          return actions.payment.create({
            payment: {
              transactions: [
                {
                  amount: {
                    total: '0.01',
                    currency: 'USD'
                  }
                }
              ]
            }
          });
        },

        onAuthorize: function (data, actions) {
          return actions.payment.execute()
            .then(function () {
              window.alert('Payment Complete!');
            });
        }
        }, '#paypal-button-container');
        </script>
    </div>
    <br>
  </div>
  <br>


</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<script type="text/javascript" src="/javascripts/checkout.js"></script>
